body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr auto;
  grid-template-areas: "status-bar" "buttons";
}
.buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: auto;
  grid-area: buttons;
}
.buttons button {
  width: 200px;
  height: 135px;
  background-color: white;
  color: black;
  border: 2px solid black;
  border-radius: 10px;
  font-size: 35px;
  transition: all 0.3s ease-in-out;
}
.buttons button:hover{
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.buttons button:active{
  background-color: #ccc;
  box-shadow: none;
}
.buttons button:active::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #636161;
  animation: fill 1s linear forwards;
}
@keyframes fill {
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}
.status-bar{
  background-color: #333;
  color:white;
  padding: 1rem;
  display: flex;
  align-items: center;
  grid-area: status-bar;
}
.status-bar p{
  margin: 0;
}
.status-bar p:first-child{
  margin-right: 1rem;
}
